[submodule "libmakepkg"]
	path = libmakepkg
	url = ../../StoneyDSP/MSYS2-libmakepkg.git
[submodule "libalpm"]
	path = libalpm
	url = ../../StoneyDSP/MSYS2-libalpm.git
[submodule "common"]
	path = common
	url = ../../StoneyDSP/MSYS2-libcommon.git
